{{> head}}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Homer</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius rerum fugit, odio quos officiis fugiat voluptatum animi perferendis cum dolorum ex aperiam harum dolores saepe numquam quae. Consectetur, laborum maiores!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/Homer.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}